@media(min-width:320px)and (max-width:481px) {
        .headingPadding{
        padding-left: 2%;
        width:75%
    }
}
@media(min-width:482px)and (max-width:961px) {
    .headingPadding{
    padding-left: 3%;
    width:75%;
    }
}
    @media(min-width:962px) and (max-width:1281px){
        .headingPadding{
        padding-left: 3%;
        width:35%
    }
}