@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: #10172a;
    --bg-dark-field: #1d293c;
    --bg-dark-card: #1d293c;
    --text-dark: #b4b4b4;
  }
}
